<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VideoIndexing_Db_Conn_Str" connectionString="Host=localhost;Database=VideoIndexingDb;Username=postgres;Password=root" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
</configuration>